@{
    ViewBag.Title = "Olaf side";
}

<div class="jumbotron">
    <h1>SOAP til JSON</h1>
    <p class="lead">Dette er et eminent nettsted for å hente ut noe soap data konvertert til json.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Gå inn på menyen "Soap2Json" for å se resultat...
        </p>
</div>